/* Stylesheet by Greg Grube, 2020 */
 #mapid {
    height: 700px;
    width: 75%;
    display: inline-block;
}

.sequence-control-container {
    width: 300px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

#temporal-legend {
    width: 200px;
    height: 55px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(255,255,255,0.8);
    padding: 0px;
    line-height: 50px;
    text-align: center;
    
}

.legend-control-container {
    width: 200px;
    height: 155px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(255,255,255,0.8);
    padding: 0px;
    line-height: 55px;
    text-align: center;
    border: solid gray 1px;
}

#panel {
    width: 25%;
    height: 100%;
    padding: 10px;
    position:absolute;
    overflow: scroll;
    background-color: rgba(200,220,190,0.8);
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 20px;
    border: 2px solid rgba(0,0,0,0.4);
}

#panel2 {
    background-color: rgba(200,220,190,0.8);
    font-family: "Open Sans", Arial, sans-serif;   
}

.text-container {
  background:#fff;
  position:absolute;
  margin-top: 10px;
  height: 40%;
  top:380px;right:0px;
  z-index:1;
  border-radius:3px;
  width:90%;
  border:1px solid rgba(0,0,0,0.4);
  }

#controls {
    width: 75%;
    height: 45px;
    padding: 1px;
    background-color: rgba(197, 108, 57, 0.8);
    display: inline-block;
    font-size: 10px;
    vertical-align: top;
    text-align: left;
    line-height: 20px;
    border: 2px solid rgba(0,0,0,0.4);
}

#range {
    width: 69%;
    margin: 0 auto 30px;
    position: left;
    z-index: 500;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    position: fixed;
    top: 88%;
    left: 3%;
    position:absolute;
}


.leaflet-popup-content p {
    margin: 0.2em 0;
}

.leaflet-popup-container p {
    margin: 0.2em 0;
    
}

.noUi-connect {
  background: #213A1B;
}

#input-number-max {
  display: none;
}

#input-number-min {
  display: none;
}

